#chat {
  padding: 10px;
  outline: 1px solid gray;
  /* display: flex;
    flex-direction: column; */
  height: 100%;
  width: 100%;
  background: #333333;
  position: relative;
}
#messages {
  height: min-content;
  max-height: 90%;
  width: 100%;
  overflow-y: scroll;
}
hr {
  background: grey;
  border: 0;
  height: 2px;
  width: 100%;
  margin-top: -80px;
}
#messages::-webkit-scrollbar {
  display: none;
}
#newmessage {
  border-top: 1px solid gray;
  padding-top: 15px;
  position: absolute;
  bottom: 15px;
}
#textarea_NewMessage {
  background: #cccccc;
  height: 50px;
  width: 180px;
  margin-right: 10px;
  resize: none;
}
#button_NewMessage {
  display: block;
  float: right;
  width: 65px;
  height: 25px;
  text-align: center;
  margin-top: 12.5px;
}
.chat-message {
  border: 1px solid gray;
  margin: 4px;
  padding: 4px;
  background: #aaaaaa;
}
.own-message {
  text-align: right;
}
