#chat {
  padding: 15px 10px;
  outline: 1px solid #0a0a0a;
  /* display: flex;
    flex-direction: column; */
  height: 100%;
  width: 100%;
  background: #333333;
}
#messages {
  height: 70%;
  width: 100%;
  overflow-y: scroll;
}
#messages::-webkit-scrollbar {
  display: none;
}
#newmessage {
  margin-top: 15px;
  margin-left: 5px;
  margin-bottom: 35px;
  height: 100%;
}
#textarea_NewMessage {
  background: #cccccc;
  width: 78%;
  resize: none;
  margin-bottom: 3px;
}
#button_NewMessage {
  display: block;
  float: right;
  margin-top: 5px;
  margin-right: 5px;
}
.chat-message {
  border: 1px solid gray;
  margin: 4px;
  padding: 4px;
  background: #aaaaaa;
}
.own-message {
  text-align: right;
}
