#chat {
  margin: 5px;
  padding: 2px;
  outline: 1px solid #000000;
  /* display: flex;
    flex-direction: column; */
  height: 100%;
  width: 100%;
  background: #333333;
}
#messages {
  /*outline: 1px solid black;*/
  height: 70%;
  width: 100%;
  overflow-y: scroll;
}
#newmessage {
  margin-top: 7px;
  margin-left: 5px;
  height: 100%;
}
#textarea_NewMessage {
  background: #cccccc;
  resize: none;
  margin-bottom: 3px;
}
#button_NewMessage {
  display: block;
  float: right;
  margin: 5px 10px;
}
.chat-message {
  border: 1px solid gray;
  margin: 4px;
  padding: 4px;
  background: #aaaaaa;
}
.own-message {
  text-align: right;
}
