@width_max: 1400px;
@width_min: 960px;
@color_all: #0a0a0a;
@color_chat: #333333;

* {
    margin: 0;
    padding: 0;
    outline: none;}
html, body {
    height: 100%;}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.95em;
    background: @color_all;}
.App {
    width: @width_max;
    margin: 0 auto;
    min-height: 100%;}
#Name_of_Game {
    display: block;
    background: @color_all;
    margin-top: 10px;
    margin-left: 10px;
    width: 100%;}
#Name_of_Game h1 {
    color: #c70000;
    margin-bottom: 10px;}
#Game {
    outline: 1px solid gray;
    display: block;
    width: 100%;}
#chat-wrapper {
    position: fixed;
    width: 350px;
    max-height: 50%;
    left: 0;
    bottom: 0px;}
#chat_open_close {
    position: fixed;
    width: 40px;
    height: 35px;
    left: 5px;
    bottom: 5px;
    background: @color_chat;
    color: @color_chat + #777777;
    font-size: 1.4em;
    border: none;
    box-shadow: 0 0 10px @color_chat + #777777;}
#game-field {
    height: 100%;
    width: 100%;}
#footer {
    height: 100%;
    width: 100%;
    background: @color_all + #111111;
    box-shadow: 0 0 10px @color_all + #111111;
    color: gray;
    padding: 10px;}