* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.95em;
}
.App {
  display: block;
  float: left;
  height: 100%;
}
#chat-wrapper {
  height: 100%;
  max-width: 500px;
  min-width: 250px;
  width: 20%;
}
#game-field {
  height: 100%;
  width: 100%;
}
