* {
  margin: 0;
  padding: 0;
  outline: none;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.95em;
  background: #0a0a0a;
}
.App {
  display: block;
  float: left;
  min-height: 100%;
}
#Name_of_Game {
  display: block;
  background: #0a0a0a;
  margin-top: 5px;
  margin-left: 5px;
  /* float: left; */
}
#Name_of_Game h1 {
  color: #c70000;
}
#chat-wrapper {
  height: 100%;
  max-width: 500px;
  min-width: 250px;
  width: 20%;
}
#game-field {
  height: 100%;
  width: 100%;
}
