@width_max: 1400px;
@width_min: 960px;
@width_game-field: @width_max / 5 * 4;
@height_main: 880px;
@color_all: #0a0a0a;
@color_chat: #333333;

* {
    margin: 0;
    padding: 0;
    outline: none;}
html, body {
    height: 100%;
    background: @color_all;}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.95em;}
.App {
    width: @width_max;
    margin: 0 auto;
    min-height: 100%;}
#Name_of_Game {
    display: block;
    background: @color_all;
    margin-top: 10px;
    margin-left: 10px;
    width: 100%;}
#Name_of_Game h1 {
    color: #c70000;
    margin-bottom: 20px;}
#before_authorization{
    display: block;
    height: 500px;
    width: 100%;
    margin-bottom: 80px;
    text-align: center;
    color: grey;}
#before_authorization img {
    height: 70%;
    margin-top: 20px;
    margin-bottom: 30px;}
#authorization {
    text-align: right;
    margin-right: 40%;}
#authorization input {
    margin-bottom: 15px;} 
#authorization span {
    text-align: right;
    padding-right: 10px;}
#authorization button {
    height: 25px;
    width: 50px;}
#chat-wrapper {
    display: block;
    float: left;
    width: @width_max / 5 - 20px;
    height: @height_main - 20px;;
    margin-bottom: 15px;} 
#game-field, #role_assignment {
    outline: 1px solid gray;
    display: block;
    float: right;
    width: @width_game-field;
    height:@height_main - 30px;
    margin-bottom: 20px;}
#role_assignment {
    text-align: center;
    padding-top: 30px;}
#role_assignment img {
    height: 200px;
    margin-block-end: 40px;
    margin-right: 10px;}
#footer {
    clear: both;
    padding: 10px;
    height: 100%;
    width: @width_max - 20px;
    background: @color_all + #111111;
    box-shadow: 0 0 10px @color_all + #111111;
    color: gray;}